//------SCHEME COLORS------

//SCHEME COLORS PRIMARY
$white: #fff;
$snow: #FAFAFA;
$quick-silver: #A0A0A0;

//SCHEME COLORS SECONDARY
$jelly-bean: #E56353;
$salmon: #E97F72;
$pastel-pink: #f0A9A1;

//SCHEME COLORS THIRD
$granite-gray: #686963;
$taupe-gray: #91918D;
$gray: #BABAB8;

//------FONTS------

//TYPOGRAPHY
$raleway: 'Raleway', sans-serif;

//FONT-WEIGHT
$font-bold: 700;
$font-regular: 300;
$font-extra-light: 200;

//FONT-SIZE
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;